@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0px;
  padding: 0;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
color: #8c0f91;
  max-width: 800px;
}
.nav {
  display: flex;
  border: 2px solid black;
  background-color: #e6fcf5;
}

.header_container {
  display: flex;
  border: 2px solid black;
  margin: 30px;
  padding: 10px;

  background-color: #e6fcf5;
}

.icon img {
  width:60px;
  margin-right: 20px;
}

.nav_title {
  font-size: 25px;
  font-weight: bold;
  margin-top: 16px;
  text-align: center;
  
}

body {
  background: #ffdeeb;
  background-image: url("../asset/background_main.jpg");
  background-image: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}

.main_container {
  display: flex;

  background: #e6fcf5;
  border: 2px solid black;
  margin: 30px;
  padding: 20px;
  flex-direction: column;
}

.form_container {
  display: flex;
  flex-direction: column;

  background: #e6fcf5;
  border: 2px dashed black;
  margin-left: 30px;
  max-width: 627px;
  padding: 20px 20px 20px 90px;
}

.legend_title {
  font-size: 24px;
  color: #8c0f91;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

/* contact info  */
.title_box {
  display: flex;
  margin-top: 20px;
}
.fname_info {
  display: flex;
  flex-direction: column;
  width: 300px;
  transform: translateY(-15px);
}
#fname {
  width: 200px;
  margin: 5px;
}

.lname_info {
  display: flex;
  flex-direction: column;
  width: 300px;
  transform: translateY(-15px);
}
#lname {
  width: 200px;
  margin: 5px;
}

.email_info {
  display: flex;
  flex-direction: column;
  width: 300px;
  transform: translate(300px, -112px);
}

#email {
  width: 200px;
  margin: 5px;
}

.tele_info {
  display: flex;
  flex-direction: column;
  width: 300px;
  transform: translate(300px, -112px);
}
#telephone {
  width: 200px;
  margin: 5px;
}

.date_info {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 300px;
  transform: translate(100px, -100px);
}
#date {
  width: 300px;
  margin: 5px;
}

/* footer */
.footer_container {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  height: 10vh;
  margin: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 10px;
  background: #e6fcf5;
}
.privacy {
  margin-right: 25px;
}
.tes {
  margin-right: 25px;
}
.help {
  margin-right: 50px;
}

h1 {
  font-size: 24px;
  text-align: center;
  padding: 5px;
  font-weight: bold;
}

h2 {
  font-size: 16px;
  text-align: center;
  padding-bottom: 20px;
}

.food {
  display: flex;
  width: 100%;
}
.omni {
  width: 50%;
}

input:focus {
  color: #8c0f91;
  transform: scale(1.1);
  outline: 1px ridge #8c0f91;
}

.activities {
  display: flex;
  width: 50%;
  transform: translateY(20px);
  margin-left: 125px;
}

.music {
  display: flex;
  transform: translateY(-120px);
  width: 50%;
  margin-left: 60%;
}

.meat_icon {
  display: flex;
  width: 100px;
}

.veg_icon {
  display: flex;
  width: 100px;
  transform: translate(100px, -110px);
  
}

.checkbox_info {
    display: flex;
    transform: translate(100px,-20px);
}
#submit {
width:100px;
transform: translate(65px);
}

#reset {
    width:100px;
    transform: translate(385px,-20px);
}